%h2 Profile

:css
  .container{
    padding:5%;
  }
  .container .img{
    text-align:center;
  }
%div.container
  %div.row
    %div.img.col-md-6
      %img.img-responsive.img-rounded{src: "//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120", alt: "Responsive image"}
-if current_user
  = current_user.id
  = current_user.name
  / = current_user.status
  = current_user.gender
  / = current_user.status

%div.container
  %form{:action => "/profile/upload", :enctype => "multipart/form-data", :method => "get"}
    %div.form-group
      %label Upload Certificate
      %input.form-control-file{:name => "file", :type => "file"}
      %br
      %input.btn.btn-primary{:type => "submit", :value => "Send"}
