// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'devise_bootstrap_views';

.statusWrap{
  margin: auto;
  max-width: 780px;
}
.pnContainer{
  text-align: center;
  img{
    max-width: 100%;
  }
}
.imgOfSt{
  width: 90%;
  height: auto;
}
.messageContainer{
  text-align: center;
}
.countDown{
  text-align: center;
  .label-for-time{
    font-size: 25px;
  }
  .time{
    font-size: 30px;
  }
}

